body{
    background-color: red;
}

#etiquetas{
    background-color: black;
    width: 80%;

}

.azul{
    background-color: blue;
}

div{
background-color: brown;
}

li{
    display: inline;
    padding: 10px;
    border: 1px solid white;
    margin: 4px;
    background-color: blueviolet;
    cursor: pointer;
    box-shadow: 2px 2px 10px white;
}

li:hover{
    background-color: aqua;
    color: black;
    box-shadow: -5px 5px 10px white;

}